@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #191919;

}

body {
  background-color: var(--main);
}

@layer utilities {
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}